@{
    ViewData["Title"] = "Minha Denúncia";
}

<head>
    <link rel="stylesheet" href="~/css/acompanhardenuncia.css" asp-append-version="true" />
</head>



<div class="container">
    <h1>ID da Denúncia</h1>
    <p>Insira o número do ID da denúncia que você deseja verificar abaixo:</p>
    <form method="post" asp-action="SearchReport">
        <label for="id">ID:</label>
        <input type="text" id="inputIdDenuncia" name="inputIdDenuncia" class="field-input" pattern="\d{1,9}" maxlength="9" />
        <button type="submit" id="btnVerificarDenuncia">Verificar</button>
    </form>
</div>
