@model D_Voz1.Models.DenunciaIdentificadaModel

@{
    ViewData["Title"] = "Denúncia Identificada";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/denuncia-identificada.css" asp-append-version="true" />
</head>

<body>
    <div class="page-container">
        <div class="page-title">
            <img src="~/imagens/denuncia_identificada.png" style="height: 64px; width: 64px; float: right; padding-right: 4px; padding-top: 4px;" />
            <h2>Denúncia Identificada</h2>
        </div>
        <div class="form-container">
            <form asp-action="SubmitReport">
                <div class="input-container">
                    <input asp-for="Nome" type="text" id="Nome" placeholder=" " class="field-input" />
                    <label class="field-label" for="Nome">Nome:</label>
                </div>
                <div class="input-container">
                    <input asp-for="RG" type="text" id="RG" placeholder=" " class="field-input" />
                    <label class="field-label" for="RG">RG:</label>
                </div>
                <div class="input-container">
                    <input asp-for=Email type="email" id="Email" placeholder=" " class="field-input" />
                    <label class="field-label" for="Email">E-mail:</label>
                </div>
                <div class="input-container">
                    <input asp-for=CPF type="text" id="CPF" placeholder=" " class="field-input" />
                    <label class="field-label" for="CPF">CPF:</label>
                </div>
                <div class="input-container">
                    <input asp-for=LocalDaDenuncia type="text" id="LocalDenuncia" placeholder=" " class="field-input" />
                    <label class="field-label" for="LocalDenuncia">Local da Denúncia:</label>
                </div>
                <div class="input-container">
                    <input asp-for=LocalDoOcorrido type="text" id="LocalOcorrido" placeholder=" " class="field-input" />
                    <label class="field-label" for="LocalOcorrido">Local do Ocorrido:</label>
                </div>
                <div class="input-container">
                    <input asp-for=CEP type="text" id="CEP" placeholder=" " class="field-input" />
                    <label class="field-label" for="CEP">CEP:</label>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>
</html>