@{
    ViewData["Title"] = "Erro";
}

<head>
    <link rel="stylesheet" href="~/css/erro.css" asp-append-version="true" />
</head>

<div class="error-container">
    <div class="error-icon">
        <img src="~/imagens/error.png" alt="Error" />
    </div>
    <div class="error-message">
        ID não encontrado
    </div>
</div>