@{
    ViewData["Title"] = "D-Voz";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <a href="PaginaInicial/Denuncie" class="botao-denuncie">
        <img src="~/imagens/bt_Denuncie.png" class="bt_denuncie" id="btn_denuncie" />
    </a>
</div>