@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="layout-tipo-denuncia">
    <div class="layout-tipo-denuncia-elemento">
        <div class="teste-vetor-anonimo">
            <img src="~/imagens/denuncia_anonima.png" />
        </div>
        <div>
            <div class="ret-retangulo borda-direita-redo">
                <span class="nome-tipo-denuncia">Anônimo</span>
            </div>
        </div>
    </div>
    <a asp-controller="Denuncias" asp-action="DenunciaIdentificada" class="layout-tipo-denuncia-elemento">
        <div class="teste-vetor-anonimo">
            <img src="~/imagens/denuncia_identificada.png" />
        </div>
        <div>
            <div class="ret-retangulo borda-esquerda-redo"
                style="float:inline-end; text-decoration: none;">
                <span class="nome-tipo-denuncia">Identificada</span>
            </div>
        </div>
    </a>
</div>
