@{
    ViewData["Title"] = "D-Voz";
}

<div class="text-center">
    <a id="link_denuncie" href="PaginaInicial/EscolhaTipoDenuncia">
        <img src="~/imagens/bt_Denuncie.png" class="bt_denuncie" id="btn_denuncie" />
    </a>
</div>