body {
    background: rgba(132, 158, 73, 0.20);
}

h1 {
    color: black;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

p {
    color: black;
    text-align: center;
}

label {
    color: black;
    display: inline-block;
    width: 10%;
}

input {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    color: white;
    background-color: #3D520D;
    padding: 4px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;

}


