body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout_navbar {
    background-color: #849E49;
    height: 80px;
}

.nav-link {
    color: #3D520D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-item:hover {
    text-decoration: underline;
}

.navbar-brand {
    text-decoration: none;
}

.display-direita {
    float: inline-end;
    flex-grow: 0;
}

.layout-tipo-denuncia {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    flex: 1;
}

.layout-tipo-denuncia-elemento {
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(132, 158, 73, 0.20);
    margin: auto;
    justify-content: center;    
    padding-top:100px;
}

.teste-vetor-anonimo {
    display: flex;
    width: 296px;
    height: 286px;
    align-items: center;
    flex-shrink: 0;
    margin:auto;
}

.ret-retangulo {
    width: 387.583px;
    height: 84px;
    background: #3D520D;
    margin-top: 60px;
    text-align: center;
    line-height: 90px;
}

.borda-direita-redo {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.borda-esquerda-redo {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.nome-tipo-denuncia {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bt_denuncie {
    width: 439px;
    height: 425px;
    flex-shrink: 0;
}

.footer {
    height: 110px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    background: rgba(132, 158, 73, 0.69);
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
    color: #3D520D;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.footer-text {
    margin: 0 10px;
}
